.govuk-main-wrapper {
  min-height: 600px;
}

.release-date-gray {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.timetable-row {
  display: flex;
}

.timetable-item {
  flex: 1;
  border-top: 4px solid govuk-colour("dark-grey");
  padding-top: govuk-spacing(2);
  text-align: center;
}

.timetable-value {
  @include govuk-font($size: 16);
  font-size: 14px;
  color: govuk-colour("dark-grey");
}

.timetable-section {
  font-weight: bold;
  color: govuk-colour("dark-grey");
}
