{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Calculation breakdown" %}
{% set mainClasses = "govuk-body" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set backHref = "/calculate?remandDays=" + inputData.remandDays
  + "&taggedBailDays=" + inputData.taggedBailDays
  + "&sentenceLengthMonths=" + inputData.sentenceLengthMonths
  + "&sentenceDate=" + inputData.sentenceDateString
%}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: backHref
  }) }}

  <h1 class="govuk-heading-l">Calculation breakdown</h1>

  <div class="govuk-grid-row">
    {{ govukButton({
      text: "View 1",
      attributes: { "data-action": "show-view-1" }
    }) }}
    {{ govukButton({
      text: "View 2",
      attributes: { "data-action": "show-view-2" }
    }) }}
  </div>

  <div class="govuk-grid-row">
      {% call govukDetails({
        summaryText: "Debug info"
      }) %}
        <h2>Payload</h2>
        <p>{{ payloadString }}</p>
        <h2>Result json</h2>
        <p>{{ calculationResultString }}</p>
      {% endcall %}
  </div>

  {% include "../partials/calculation-breakdown/view-A.njk" %}
  {% include "../partials/calculation-breakdown/view-B.njk" %}

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script nonce="{{ cspNonce }}">
    document.addEventListener('DOMContentLoaded', () => {
      const btnView1 = document.querySelector('[data-action="show-view-1"]')
      const btnView2 = document.querySelector('[data-action="show-view-2"]')
      const view1 = document.getElementById('view-1')
      const view2 = document.getElementById('view-2')

      btnView1?.addEventListener('click', () => {
        view1.hidden = false;
        view2.hidden = true;
      });

      btnView2?.addEventListener('click', () => {
        view1.hidden = true;
        view2.hidden = false;
      });
    });
  </script>
{% endblock %}
