{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Calculation breakdown" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Calculation breakdown</h1>
  <p>Please check back later when there is content to view.</p>

  <p>Name: {{ calculationResult.personName }}</p>

{% endblock %}
