{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Calculation breakdown" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Calculation breakdown</h1>

  <div id="release-dates">
    <h2>Release dates</h2>
    <p>ETD: {{ calculationResult.etd }}</p>
    <p>MTD: {{ calculationResult.effectiveDates.mtd }}</p>
    <p>LTD: {{ calculationResult.ltd }}</p>
    <p>SLED: {{ calculationResult.effectiveDates.sled }}</p>
  </div>

  <div id="custodial-timeline">
    <h2>Custodial timeline</h2>
  </div>

  <div id="detailed-breakdown">
    <h2>Detailed breakdown</h2>
    <p>Work in progress!</p>
    <p>E.g. Total number of remand and tagged bail days: {{ calculationResult.effectiveDates.totalNumberOfRemandAndTaggedBailDays }}</p>
  </div>

{% endblock %}
