{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Calculate a release date</h1>
  <p>Please check back later when there is content to view.</p>

{% endblock %}
