<div id="view-2" class="govuk-grid-row" hidden>

  {% set calculationResultsHtml %}
  <h2>Calculation results</h2>

  {{ govukSummaryList({
        rows: [
          { key: { text: "Term type" }, value: { text: "Detention and Training Order (DTO)" } },
          { key: { text: "Term length" }, value: { text: calculationResult.calculatedTerms[0].inputSentence.durationMonths + " months (" + calculationResult.calculatedTerms[0].totalDaysInTerm + " days)" } },
          { key: { text: "Custodial period" }, value: { text: calculationResult.calculatedTerms[0].totalDaysMTD + " days" } },
          { key: { text: "MTD" }, value: { text: termDates.mtd } },
          { key: { text: "Remand period" }, value: { text: calculationResult.effectiveDatesPastAdjustments[0].adjustmentParameters.days + " days" } },
          { key: { text: "SLED" }, value: { text: resultDates.sled } },
          { key: { text: "Final MTD" }, value: { text: resultDates.finalMtd } },
          { key: { text: "ETD" }, value: { text: resultDates.etd } },
          { key: { text: "LTD" }, value: { text: resultDates.ltd } }
        ]
      }) }}
  {% endset -%}

  {% set resultsBreakdownHtml %}
  <h2>Results breakdown</h2>

  {{ govukSummaryList({
    rows: [
      { key: { text: "Term type" }, value: { text: "Detention and Training Order (DTO)" } },
      { key: { text: "Term length" }, value: { text: calculationResult.calculatedTerms[0].inputSentence.durationMonths + " months (" + calculationResult.calculatedTerms[0].totalDaysInTerm + " days)" + ", from " + (calculationResult.calculatedTerms[0].inputSentence.from.toISOString().slice(0, 10) if calculationResult.calculatedTerms[0].inputSentence.from.toISOString else calculationResult.calculatedTerms[0].inputSentence.from) + " to " + (calculationResult.effectiveDates.sled.data.toISOString().slice(0, 10) if calculationResult.effectiveDates.sled.data.toISOString else calculationResult.effectiveDates.sled.data) } },
      { key: { text: "Custodial period" }, value: { text: calculationResult.calculatedTerms[0].totalDaysMTD + " days (" + breakdownObj.custodialPeriodBreakdown + ")" } },
      { key: { text: "Remand period" }, value: { text: calculationResult.effectiveDatesPastAdjustments[0].adjustmentParameters.days + " days " + breakdownObj.remandPeriodBreakdown } },
      { key: { text: "SLED" }, value: { text: breakdownObj.sledBreakdown } },
      { key: { text: "MTD" }, value: { text: breakdownObj.finalMtdBreakdown } },
      { key: { text: "ETD" }, value: { text: breakdownObj.etdBreakdown } },
      { key: { text: "LTD" }, value: { text: breakdownObj.ltdBreakdown } }
    ]
  }) }}
  {% endset -%}

  <div class="govuk-grid-column-two-thirds">
    {{ govukTabs({
      items: [
        {
          label: "Calculation results",
          id: "calculation-results-tab",
          panel: {
            html: calculationResultsHtml
          }
        },
        {
          label: "Results breakdown",
          id: "results-breakdown-tab",
          panel: {
            html: resultsBreakdownHtml
          }
        }
      ]
    }) }}

    <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-top-4">
      <a id="new-calculation-link-b" href="/calculate">Start a new DTO calculation</a>
    </div>
  </div>


</div>